@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #10245c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

@media only screen and (min-width: 0px) and (max-width: 300px) {
    .navbar-inner {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .navbar-right {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-logo {
        font-size: 30px;
        font-weight: 500;
        font-family: "Hk_Groteskregular", sans-serif;
        color: white;
    }

    .navbar-return {
        color: white;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
        display: none;
    }

    .main-content {
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .team-header {
        font-size: 20px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 800;
        text-align: center;
    }

    .team-image-container {
        width: 300px;
        text-align: center;
    }

    .team-image {
        max-width: 80%;
        max-height: 100%;
    }

    .team-caption-container {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .team-caption-container-left {
        width: 200px;
    }

    .team-caption-container-center {
        width: 150px;
    }

    .team-caption-container-right {
        width: 150px;
    }

    .team-caption {
        font-size: 10px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 600;
    }

    .team-caption-header {
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
    .navbar-inner {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .navbar-right {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-logo {
        font-size: 38px;
        font-weight: 500;
        font-family: "Hk_Groteskregular", sans-serif;
        color: white;
    }

    .navbar-return {
        color: white;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
    }

    .main-content {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .team-header {
        font-size: 30px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 800;
        text-align: center;
    }

    .team-image-container {
        width: 300px;
    }

    .team-image {
        max-width: 100%;
        max-height: 100%;
    }

    .team-caption-container {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .team-caption-container-left {
        width: 200px;
    }

    .team-caption-container-center {
        width: 150px;
    }

    .team-caption-container-right {
        width: 150px;
    }

    .team-caption {
        font-size: 12px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 600;
    }

    .team-caption-header {
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }
}

@media only screen and (min-width: 550px) and (max-width: 950px) {
    .navbar-inner {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .navbar-right {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-logo {
        font-size: 38px;
        font-weight: 500;
        font-family: "Hk_Groteskregular", sans-serif;
        color: white;
    }

    .navbar-return {
        color: white;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
    }

    .main-content {
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .team-header {
        font-size: 30px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 800;
    }

    .team-image-container {
        width: 500px;
    }

    .team-image {
        max-width: 100%;
        max-height: 100%;
    }

    .team-caption-container {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .team-caption-container-left {
        width: 250px;
    }

    .team-caption-container-center {
        width: 150px;
    }

    .team-caption-container-right {
        width: 150px;
    }

    .team-caption {
        font-size: 20px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 600;
    }

    .team-caption-header {
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .navbar-inner {
        width: 900px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .navbar-right {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-logo {
        font-size: 38px;
        font-weight: 500;
        font-family: "Hk_Groteskregular", sans-serif;
        color: white;
    }

    .navbar-return {
        color: white;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
    }

    .main-content {
        width: 900px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .team-header {
        font-size: 40px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 800;
    }

    .team-image-container {
        width: 900px;
    }

    .team-image {
        max-width: 100%;
        max-height: 100%;
    }

    .team-caption-container {
        width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .team-caption-container-left {
        width: 250px;
    }

    .team-caption-container-center {
        width: 150px;
    }

    .team-caption-container-right {
        width: 150px;
    }

    .team-caption {
        font-size: 20px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 600;
    }

    .team-caption-header {
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-inner {
        width: 1140px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .navbar-right {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-logo {
        font-size: 38px;
        font-weight: 500;
        font-family: "Hk_Groteskregular", sans-serif;
        color: white;
    }

    .navbar-return {
        color: white;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
    }

    .main-content {
        width: 1140px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .team-header {
        font-size: 40px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 800;
    }

    .team-image-container {
        width: 900px;
    }

    .team-image {
        max-width: 100%;
        max-height: 100%;
    }

    .team-caption-container {
        width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .team-caption-container-left {
        width: 250px;
    }

    .team-caption-container-center {
        width: 150px;
    }

    .team-caption-container-right {
        width: 150px;
    }

    .team-caption {
        font-size: 20px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 600;
    }

    .team-caption-header {
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }
}